亲爱的{{ name }}同学：<br/>
<blockquote>您好，提醒您近期<b>{{ title }}</b>事宜，请配合支书和支委做好相关工作：
    <table width="80%" border="1" cellspacing="0" margin="0 50%">
        <tr>
            <th>学号</th>
            <th>姓名</th>
            {% for field in headers %}
                <th>{{ field }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for ceil in applier %}
                <td align="center">{{ ceil }}</td>
            {% endfor %}
        </tr>
    </table>
</blockquote>
<p align="right"><a href="http://{{ root_url }}">中山大学数据科学与计算机学院党建</a><br/>请勿回复</p>