{% extends base_template %}
{% load i18n %}

{% load xadmin_tags %}

{% block extrastyle %}
  <style type="text/css">
    .btn-toolbar {
      margin-top: 0;
    }

    .subul-menu {
      padding: 0;
      overflow-y: auto;
      max-height: 20em
    }

    .subul-menu > li {
      list-style: none
    }

    .subul-menu > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #333333;
      white-space: nowrap;
    }

    .subul-menu > li > a:hover,
    .subul-menu > li > a:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }

    .subul-menu > .active > a,
    .subul-menu > .active > a:hover,
    .subul-menu > .active > a:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #428bca;
      outline: 0;
    }

    .subul-menu > .disabled > a,
    .subul-menu > .disabled > a:hover,
    .subul-menu > .disabled > a:focus {
      color: #999999;
    }

    .subul-menu > .disabled > a:hover,
    .subul-menu > .disabled > a:focus {
      text-decoration: none;
      cursor: not-allowed;
      background-color: transparent;
      background-image: none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    th, td {
      text-align: center
    }

    .absolute-right {
      position: absolute;
      right: 0.3em
    }

    tr.grid-item > td {
      position: relative;
    }

    #filter-menu>li.dropdown-submenu:not(.filter-date)>ul {
      max-height: 25em;
      overflow-y: auto;
    }

    #content-block.full-content {
      margin-left: 0;
    }
  </style>

{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% block nav_title %}{% if brand_icon %}<i class="{{ brand_icon }}"></i> {% endif %}{{ brand_name }}{% endblock %}

{% block nav_toggles %}
  {% include "xadmin/includes/toggle_menu.html" %}
  {% if has_add_permission %}
    <a href="{{ add_url }}" class="navbar-toggle pull-right"><i class="fa fa-plus"></i></a>
  {% endif %}
  <button class="navbar-toggle pull-right" data-toggle="collapse" data-target=".content-navbar .navbar-collapse">
    <i class="fa fa-filter"></i>
  </button>
{% endblock %}

{% block nav_btns %}
  {% if has_add_permission %}
    <a href="{{ add_url }}" class="btn btn-primary"><i class="fa fa-plus"></i>
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
  {% endif %}
{% endblock nav_btns %}

{% block content %}
  <div class="content-toolbar btn-toolbar pull-right clearfix">
    {% view_block 'top_toolbar' %}
    {% block toolbar_column %}
      <div class="btn-group">
        <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" href="#">
          <i class="fa fa-list-alt"></i> {% trans "Columns" %} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu model_fields pull-right" role="menu" aria-labelledby="dLabel">
          <li><a href="{{ clean_select_field_url }}"><i
              class="fa fa-refresh"></i> {% trans "Restore Selected" %}</a></li>
          <li><a href="{{ all_field_url }}"><i class="fa fa-arrows"></i> 选择全部列</a></li>
          <li class="divider"></li>
          <li>
            <ul class="subul-menu">
              {% for f, selected, flink in model_fields %}
                <li><a href="{{ flink }}">
                  {% if selected %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-blank"></i>{% endif %}
                  {{ f.verbose_name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        </ul>
      </div>
    {% endblock toolbar_column %}
    {% block toolbar_layouts %}
      <div class="btn-group layout-btns" data-toggle="buttons">
        <label class="btn btn-default btn-sm layout-normal active">
          <input type="radio"> <i class="fa fa-th-large"></i>
        </label>
        <label class="btn btn-default btn-sm layout-condensed">
          <input type="radio"> <i class="fa fa-th"></i>
        </label>
        {% view_block 'top_layout_btns' %}
      </div>
    {% endblock toolbar_layouts %}
    {% block toolbar_fullscreen %}
      <div class="btn-group layout-btns" data-toggle="buttons-checkbox">
        <button type="button" class="btn btn-default btn-sm layout-full"><i class="fa fa-expand"></i></button>
        {% view_block 'top_check_btns' %}
      </div>
    {% endblock toolbar_fullscreen %}
    {% view_block 'top_btns' %}
  </div>

  <ul class="pagination pagination-sm pagination-left pagination-inline">
    {% view_block 'pagination' 'small' %}
  </ul>

  <form id="changelist-form" action="" method="post"{% view_block 'result_list_form' %}>{% csrf_token %}
    {% view_block 'results_top' %}
    <div class="results table-responsive" style="width: 100%;">
      {% if results %}
        {% block results_fixedcol_grid %}
          <table id="results" class="table table-bordered table-hover" style="position: relative;"
            data-toggle="table" data-height="{{ height }}"
          >
            {% block results_fixedcol_grid_head %}
              <thead>
              <tr>{% for o in result_headers.cells %}
                  <th {{ o.tagattrs }}>
                    {% if o.btns %}
                      <div class="pull-right" style="display: inline-block">
                        {% for b in o.btns %}
                          {{ b|safe }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% if o.menus %}
                      <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"
                           {% if o.btns %}style="padding-right: {{ o.btns|length }}em"{% endif %}>
                          {{ o.label }}
                        </a>
                        <ul class="dropdown-menu" role="menu">
                          {% for m in o.menus %}
                            {{ m|safe }}
                          {% endfor %}
                        </ul>
                      </div>
                    {% else %}
                      <div {% if o.btns %}style="padding-right: {{ o.btns|length }}em" {% endif %}>{{ o.label }}</div>
                    {% endif %}
                  </th>{% endfor %}
              </tr>
              {% view_block 'result_head' %}
              </thead>
            {% endblock results_fixedcol_grid_head %}
            {% block results_fixedcol_grid_body %}
              <tbody>
              {% for row in results %}
                <tr class="grid-item{% if row.css_class %} {{ row.css_class }}{% endif %}" {{ row.tagattrs }}>
                  {% for o in row.cells %}
                      <td {{ o.tagattrs }}>
                        {% if o.btns %}
                          <div class="btn-group absolute-right">
                            {% for b in o.btns %}
                              {{ b|safe }}
                            {% endfor %}
                          </div>
                        {% endif %}
                        {% if o.menus %}
                          <div class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              {{ o.label }}
                            </a>
                            <ul class="dropdown-menu">
                              {% for m in o.menus %}
                                {{ m|safe }}
                              {% endfor %}
                            </ul>
                          </div>
                        {% else %}
                          {% if '<input type="checkbox"' not in o.label %}
                            <div class="td-text"
                                 {% if o.btns %}style="padding-right: {{ o.btns|length }}em" {% endif %}>
                          {% endif %}
                        {{ o.label }}
                        {% if '<input type="checkbox"' not in o.label %}</div>{% endif %}
                        {% endif %}
                      </td>
                  {% endfor %}</tr>
                {% view_block 'result_row' row %}
              {% endfor %}
              </tbody>
            {% endblock results_fixedcol_grid_body %}
          </table>
{#          <script>#}
{#            $(function(){#}
{#             //#table表示的是上面table表格中的id#}
{#             $("#results").bootstrapTable('destroy').bootstrapTable({#}
{#                    fixedColumns: true,#}
{#                    fixedNumber: 3 //固定列数#}
{#                });#}
{#            })#}
{#            </script>#}
        {% endblock results_fixedcol_grid %}
      {% else %}
        <p class="well">{% trans "Empty list" %}</p>
      {% endif %}
    </div>
    {% view_block 'results_bottom' %}
  </form>

  <ul class="pagination">
    {% view_block 'pagination' %}
  </ul>
  {% view_block 'after_results' %}
{% endblock %}
