{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css">
    <style>
        .results table tr:nth-of-type(odd) {
            background-color: rgb(249, 249, 249);
        }
    </style>
{% endblock %}

{% block coltype %}flex{% endblock %}

{#{% block bodyclass %}{{ block.super }} dashboard{% endblock %}#}

{% block breadcrumbs %}
    <div class="breadcrumbs initialized">
    <a href="/">首页</a>
    </div>
{% endblock %}

{% block content %}
{#<div id="content" class="flex">#}
    {% for affair in affairs %}
        <div id="content-main" style="margin-bottom: 1em">
            <div>
                <h1 style="display: inline; height: 100%;
                 float: left; line-height: 100%; margin-bottom: 0">
                {{ affair.1 }}
                </h1>
                <ul class="object-tools" style="margin-bottom: 0">
                    <li><a href="notice/{{ affair.0 }}" class="addlink">下载表格</a></li>
                    {% if can_send_email %}
                        <li><a href="notice/email/{{ affair.0 }}" class="addlink">发送邮件</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="module initialized" id="changelist">
                <div class="clear"></div>
                <div class="results">
                    <table>
                        {% for row in affair.2 %}
                            {% if forloop.first %}
                                <thead>
                                <tr>
                                    {% for c in row %}
                                        <th style="text-align: center">{{ c }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                            {% else %}
                                {% if forloop.counter == 2 %}
                                    <tbody>
                                {% endif %}
                            <tr>
                                {% for c in row %}
                                    <td class="nowrap" style="text-align: center; {% if not c %} background-color: yellow{% endif %}">
                                        {% if forloop.counter == 2 %}
                                            <a href="info/member/{{ c }}/change">{{ c }}</a>
                                        {% else %}
                                            {{ c }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                            {% if forloop.last %}
                                </tbody>
                            {% endif %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
            </div>

        </div>
    {% endfor %}
{% endblock %}