<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="robots" content="NONE,NOARCHIVE"/>
  <title>{{ title }} | 数据科学与计算机学院学生党建系统</title>

  <link href="/static/xadmin/vendor/bootstrap/css/bootstrap.css" type="text/css" media="screen" rel="stylesheet">
  <link href="/static/css/bootstrap-switch.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/bootstrap-table.css">
  <link rel="stylesheet" href="/static/css/bootstrap-table-fixed-columns.css">
  <link rel="stylesheet" type="text/css" id="site-theme" href="/static/xadmin/css/themes/bootstrap-xadmin.css"/>

  <link href="/static/xadmin/vendor/font-awesome/css/font-awesome.min.css" type="text/css" media="screen"
        rel="stylesheet">
  <link href="/static/xadmin/css/xadmin.main.css" type="text/css" media="screen" rel="stylesheet">
  <link href="/static/xadmin/css/xadmin.plugins.css" type="text/css" media="screen" rel="stylesheet">
  <link href="/static/xadmin/css/xadmin.responsive.css" type="text/css" media="screen" rel="stylesheet">
  <link href="/static/xadmin/css/xadmin.form.css" type="text/css" media="screen" rel="stylesheet">
  <link href="/static/xadmin/css/xadmin.page.dashboard.css" type="text/css" media="screen" rel="stylesheet">

  <script type="text/javascript" src="/static/js/jquery2.1.0.js"></script>
  <script src="/static/js/bootstrap-switch.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/bootstrap/js/bootstrap.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.core.min.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.widget.min.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.mouse.min.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.sortable.min.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.main.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.responsive.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="/static/js/bootstrap-table.js"></script>
  <!-- Latest compiled and minified Locales -->
  <script src="/static/js/bootstrap-table-fixed-columns.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/jquery-ui/jquery.ui.effect.min.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.themes.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.page.dashboard.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.portal.js"></script>

  {% block extra_style %}
  {% endblock %}

</head>
<body class="dashboard">

<!-- Header -->
{% block header %}{% endblock %}
<!-- END Header -->

{% block breadcrumbs %}
{% endblock %}

{% block messages %}
{% endblock %}

<div id="body-content" class="clearfix row">
  {% block left-menu %}{% endblock %}
  {% block content %}{% endblock %}
</div>

{% block footer %}{% endblock %}
</body>
</html>
