{% extends "admin/includes/box.html" %}
{% load crispy_forms_field my_admin_list %}

{% block box_title %}{{ fieldset.name }}{% if fieldset.description %}
  <small class="m">{{ fieldset.description }}</small>{% endif %}{% endblock box_title %}
{% block box_content %}
  {% for line in fieldset %}
    {% for adminfield in line %}
      {% with adminfield.field as field %}
        <div id="div_{{ field.id_for_label }}" class="form-group {% if adminfield.is_readonly %}value row{% endif %}">
          <label for="{{ field.id_for_label }}"
                 class="control-label{% if field.field.required %} requiredField{% endif %}">
            {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
          </label>
          {% if adminfield.is_checkbox %}
            <div class="controls {% for offset in bootstrap_checkbox_offsets %}{{ offset }} {% endfor %}{{ field_class }}">
              <div class="checkbox-row {% if field.errors %} has-error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
{#                {{ field.field }}#}
                {% crispy_field field %}
                {% if field.help_text %}
                  <p id="hint_id_{{ field.id_for_label }}" class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
              </div>
            </div>
          {% else %}
            <div class="controls">
              {% if adminfield.is_readonly %}
                <p class="form-control-static">{{ adminfield.contents }}</p>
              {% else %}
{#                {{ field.field }}#}
                {% crispy_field field %}
                {% if field.help_text %}
                  <p id="hint_id_{{ field.id_for_label }}" class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        </div>
      {% endwith %}
    {% endfor %}
  {% endfor %}
{% endblock box_content %}
