django==2.2.10
django-crispy_forms
rules
future
phonenumbers
django-phonenumber-field
django-mathfilters
tablib
diff_match_patch
django-formtools==2.1
httplib2
itchat
pymysql
xlwt
xlsxwriter
pillow
openpyxl
python-docx
python-memcached
qrcode