{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
  <style>
    #filter-menu > li.dropdown-submenu:not(.filter-date) > ul {
      max-height: 25em;
      overflow-y: auto;
    }
    td, th { text-align: center; white-space: nowrap }
    div.content-toolbar.btn-toolbar>:not(.pagination) { float: right}
  </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li>{{ opts.verbose_name_plural|capfirst }}</li>
    </ul>
{% endblock %}

{% block nav_title %}{% if cl.model_icon %}<i class="{{ cl.model_icon }}"></i> {% endif %}
  {{ cl.opts.verbose_name_plural }}{% endblock %}

{% block nav_toggles %}
  {% include "admin/includes/toggle_menu.html" %}
  {% if has_add_permission %}
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="navbar-toggle pull-right"><i
        class="fa fa-plus"></i></a>
  {% endif %}
  <button class="navbar-toggle pull-right" data-toggle="collapse" data-target=".content-navbar .navbar-collapse">
    <i class="fa fa-filter"></i>
  </button>
{% endblock %}

{% block navbar-collapse %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    {% block filters %}
      {% if cl.has_filters %}
        {% include 'admin/block/filter.html' %}
      {% endif %}
    {% endblock %}
    {% block search %}{% search_form cl %}{% endblock %}
    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
  </ul>
  {% block nav_form %}{% endblock %}
  <div class="navbar-btn pull-right hide-xs">
    {% block nav_btns %}
      {% if has_add_permission %}
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn btn-primary"><i class="fa fa-plus"></i>
          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
      {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block extrabody %}
  <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.importexport.js"></script>
  <script type="text/javascript" src="/static/xadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.filters.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.details.js"></script>
{#    <script type="text/javascript" src="/static/xadmin/js/xadmin.widget.datetime.js"></script>#}
  {% if action_form %}
    <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.actions.js"></script>
  {% endif %}
  <script type="text/javascript" src="/static/xadmin/js/xadmin.page.list.js"></script>
  <script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>
{% endblock %}

{% block coltype %}flex{% endblock %}

{% block content %}
  <div id="content-main">
    <div class="content-toolbar btn-toolbar clearfix pull-right">
      {% block object-tools %}
{#        <ul class="object-tools">#}
        {% block object-tools-items %}
          {% change_list_object_tools %}
        {% endblock %}
{#        </ul>#}
      {% endblock %}
    </div>
    {% block pagination %}{% pagination cl %}{% endblock %}
    {% if cl.formset.errors %}
      <p class="errornote">
      {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
      {{ cl.formset.non_form_errors }}
    {% endif %}
    <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
{#      {% block search %}{% search_form cl %}{% endblock %}#}
{#      {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}#}

{#      {% block filters %}#}
{#        {% if cl.has_filters %}#}
{#          <div id="changelist-filter">#}
{#            <h2>{% trans 'Filter' %}</h2>#}
{#            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}#}
{#          </div>#}
{#        {% endif %}#}
{#      {% endblock %}#}

      <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      {% endblock %}
      {% if cl.formset and cl.result_count %}<input type="submit" name="_save" class="default" value="{% trans 'Save' %}">{% endif %}
      </form>
    </div>
  </div>
{% endblock %}
