{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list my_admin_list %}

{% block extrastyle %}
  <link href="/static/xadmin/css/xadmin.plugin.importexport.css" type="text/css" media="screen" rel="stylesheet">
  <link href="/static/xadmin/vendor/bootstrap-datepicker/css/datepicker.css" type="text/css" media="screen" rel="stylesheet">
  <style type="text/css">
    .btn-toolbar {
      margin-top: 0;
    }

    div.content-toolbar.btn-toolbar>:not(.pagination) { float: right}

    .subul-menu {
      padding: 0;
      overflow-y: auto;
      max-height: 20em
    }

    .subul-menu > li {
      list-style: none
    }

    .subul-menu > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: normal;
      line-height: 1.428571429;
      color: #333333;
      white-space: nowrap;
    }

    .subul-menu > li > a:hover,
    .subul-menu > li > a:focus {
      color: #262626;
      text-decoration: none;
      background-color: #f5f5f5;
    }

    .subul-menu > .active > a,
    .subul-menu > .active > a:hover,
    .subul-menu > .active > a:focus {
      color: #ffffff;
      text-decoration: none;
      background-color: #428bca;
      outline: 0;
    }

    .subul-menu > .disabled > a,
    .subul-menu > .disabled > a:hover,
    .subul-menu > .disabled > a:focus {
      color: #999999;
    }

    .subul-menu > .disabled > a:hover,
    .subul-menu > .disabled > a:focus {
      text-decoration: none;
      cursor: not-allowed;
      background-color: transparent;
      background-image: none;
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }

    th, td {
      text-align: center
    }

    .absolute-right {
      position: absolute;
      right: 0.3em
    }

    tr.grid-item > td {
      position: relative;
    }

    #filter-menu > li.dropdown-submenu:not(.filter-date) > ul {
      max-height: 25em;
      overflow-y: auto;
    }

    #content-block.full-content {
      margin-left: 0;
    }

    .checkbox-inline { width: auto; padding: 0; margin-left: 10px; }
    .checkbox-inline>input[type='checkbox'] { margin-left: 0 }
    .pagination { margin: 0 !important; left: 0}
  </style>
{% endblock %}

{% block bodyclass %}change-list{% endblock %}
{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
        <li>{{ opts.verbose_name_plural|capfirst }}</li>
    </ul>
{% endblock %}

{% block nav_title %}{% if cl.model_icon %}<i class="{{ cl.model_icon }}"></i> {% endif %}
  {{ cl.opts.verbose_name_plural }}{% endblock %}

{% block nav_toggles %}
  {% include "admin/includes/toggle_menu.html" %}
  {% if has_add_permission %}
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="navbar-toggle pull-right"><i
        class="fa fa-plus"></i></a>
  {% endif %}
  <button class="navbar-toggle pull-right" data-toggle="collapse" data-target=".content-navbar .navbar-collapse">
    <i class="fa fa-filter"></i>
  </button>
{% endblock %}

{% block navbar-collapse %}
<div class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    {% block filters %}
      {% if cl.has_filters %}
        {% include 'admin/block/filter.html' %}
      {% endif %}
    {% endblock %}
    {% block search %}{% search_form cl %}{% endblock %}
    {% block date_hierarchy %}{% date_hierarchy cl %}{% endblock %}
  </ul>
  {% block nav_form %}{% endblock %}
  <div class="navbar-btn pull-right hide-xs">
    {% block nav_btns %}
      {% if has_add_permission %}
        {% url cl.opts|admin_urlname:'add' as add_url %}
        <a href="{% add_preserved_filters add_url is_popup to_field %}" class="btn btn-primary"><i class="fa fa-plus"></i>
          {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a>
      {% endif %}
    {% endblock %}
  </div>
</div>
{% endblock %}

{% block content %}
  {% if cl.result_list %}
  <div class="content-toolbar btn-toolbar clearfix">
    {% block pagination %}{% pagination cl %}{% endblock %}
    {% block object-tools %}
        {% block object-tools-items %}
          {% block toolbar_fullscreen %}
            <div class="btn-group layout-btns" data-toggle="buttons-checkbox">
              <button type="button" class="btn btn-default btn-sm layout-full"><i class="fa fa-expand"></i></button>
            </div>
          {% endblock toolbar_fullscreen %}

          {% block toolbar_layouts %}
            <div class="btn-group layout-btns" data-toggle="buttons">
              <label class="btn btn-default btn-sm layout-normal active">
                <input type="radio"> <i class="fa fa-th-large"></i>
              </label>
              <label class="btn btn-default btn-sm layout-condensed">
                <input type="radio"> <i class="fa fa-th"></i>
              </label>
            </div>
          {% endblock toolbar_layouts %}

          {% block toolbar_column %}
            <div class="btn-group">
              <a class="dropdown-toggle btn btn-default btn-sm" data-toggle="modal" href="#display">
                <i class="fa fa-list-alt"></i> 显示列
              </a>
              <div id="display" class="modal fade">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <form method="post" action="">
                      {% csrf_token %}
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">请勾选需要显示的列</h4>
                      </div>
                      <div class="modal-body">
                        {% for f, selected, fname in model_fields %}
                          <div class="checkbox-inline">
                            <input type="checkbox" name="list_display" value="{{ fname }}" {% if selected %}checked{% endif %}> {{ f }}
                          </div>
                        {% endfor %}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button class="btn btn-primary" type="submit">确认</button>
                      </div>
                    </form>
                  </div><!-- /.modal-content -->
                </div><!-- /.modal-dalog -->
              </div>
            </div>
          {% endblock toolbar_column %}
        {% endblock %}
    {% endblock %}
  </div>
  {% endif %}

  <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
    {% if cl.formset %}
      <div>{{ cl.formset.management_form }}</div>
    {% endif %}

    {% block result_list %}
        {% if action_form and actions_on_top and cl.show_admin_actions and cl.result_list %}{% admin_actions %}{% endif %}
        {% result_list cl %}
        {% if action_form and actions_on_bottom and cl.show_admin_actions and cl.result_list %}{% admin_actions %}{% endif %}
    {% endblock %}
  </form>

  {% block extrabody %}
    <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.importexport.js"></script>
    <script type="text/javascript" src="/static/xadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.filters.js"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.details.js"></script>
{#    <script type="text/javascript" src="/static/xadmin/js/xadmin.widget.datetime.js"></script>#}
    {% if action_form %}
      <script type="text/javascript" src="/static/xadmin/js/xadmin.plugin.actions.js"></script>
    {% endif %}
    <script type="text/javascript" src="/static/xadmin/js/xadmin.page.list.js"></script>
    <script type="text/javascript" src="/static/xadmin/js/xadmin.page.form.js"></script>
  {% endblock %}
{% endblock %}
